</br>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pathfinder Character Sheet Editor</h1>
    <p class="lead">Using this tool, you are able to input your character statistics and easily generate a PDF of your character.</p>
</div>
